/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
:root{
    --primary-color: #fd390e;
    --secondary-color: #e6d9d7;

}
/* Section 1 Styles */
#section1, #section2{
    padding: 50px;
    max-width: 1400px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;


}
#section1 .section1elements{

    /* border: 1px solid lightgray; */
    padding: 40px 20px;
    text-align: center;
    width: calc(20% - 20px);
    margin: 20px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#section1 .section1elements span{
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    background-color: #e6d9d7;
    
    
}
#section1 .section1elements span:hover{
    background-color: var(--primary-color);

}
#section1 .section1elements i{
    color:var(--primary-color);
    font-size: 30px;

    
}
#section1 .section1elements span:hover i{
    color: white;
}

/* Section 2 Styles */
#section2 .section2elements{
    margin: 10px;
   
    width: calc(25% - 20px);
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#section2 .section2elements .section2cardheader{
position: relative;
}

#section2 .section2elements .section2cardheader .headericons{
    position: absolute;
    width: 100%;
    top: 10px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-pack: justify;
    
        -ms-flex-pack: justify;
    
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;

} 
#section2 .section2elements .section2cardheader .headericons .lefticons{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   gap: 5px;

} 
#section2 .section2elements .section2cardheader .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    
}
#section2 .section2elements .section2cardheader .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    visibility: hidden;
}


#section2 .section2elements .section2cardheader .headericons .verified{
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
#section2 .section2elements .section2cardheader .headericons .new{
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
#section2 .section2elements .section2cardheader .headericons .wishlist{
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
   
}
#section2 .section2elements .section2cardheader:hover .overlay{
    visibility: visible;
}
#section2 .section2elements .section2cardbody{
    padding: 20px;
}
#section2 .section2elements .section2cardfooter{
    
    margin: 10px ;
    padding: 20px;
    border-top: 1px solid lightgrey;
}

/* Section 3 Styles */
#section3{
    padding: 100px;
    background-image: -o-linear-gradient(106deg, rgba(121, 0, 227, 1) 0%, rgba(232, 232, 232, 1) 100%);
    background-image: linear-gradient(344deg, rgba(121, 0, 227, 1) 0%, rgba(232, 232, 232, 1) 100%);
     
}
#section0{
    width: 100px;
    height: 100px;
    background-color: #007bff;
    background-color: violet;
    /* transform: translateX(200px);
    transform: rotate(37deg);
    transform: scale(0.5,1);
    transform: skewY(20deg);
    transform: translate(10px, 10px) rotate(37deg) ; */
    position: relative;
    -webkit-transition: width 2s, height 2s, background 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, transform 2s, background 2s;
    transition: width 2s, height 2s, transform 2s, background 2s;
    transition: width 2s, height 2s, transform 2s, background 2s, -webkit-transform 2s;


}
#section0:hover{
    width: 200px;
    height: 200px;
    background-color: #007bff;
    /* background-color: orange; */
    /* transform: translate(50px, 50px) rotate(0deg) skewY(0deg) scale(1,1); */
}
#section00{
    width: 100px;
    height: 100px;
    background-color: violet;
    position: relative;
    left: 0px;
    /* animation: section0anim 4s infinite; */
    -webkit-animation-name: section00anim;
            animation-name: section00anim;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;

    
   
    

}
@-webkit-keyframes section00anim {
    0%{

        background-color: violet;
        left: 0px;
    }
    50%{
        background-color: orange;
        left: 600px;
    }
    100%{
        background-color: violet;
        left: 1200px;
    }
}
@keyframes section00anim {
    0%{

        background-color: violet;
        left: 0px;
    }
    50%{
        background-color: orange;
        left: 600px;
    }
    100%{
        background-color: violet;
        left: 1200px;
    }
}
input[type="text"]{
    padding: 10px;
    width: 80px;
    -webkit-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
   
}
input[type="text"]:focus{
  
    width: 380px;
   
}